* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  color: white;
  height: 100vh;
  background-color: #2b3034;
}

section {
  background-color: #2b3034;
}

h1 {
  font-size: 3rem;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.converter {
  min-width: 250px;
  max-width: 1300px;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  min-width: 300px;
}

input,
select,
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 10px 1px black;
}

label {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.25rem;
}

input:focus {
  border: 2px solid #fd8e07;
  outline: none;
}

input {
  width: 130px;
  text-align: center;
}

select {
  width: 100px;
}

.value-in-usd {
  font-size: 1.56rem;
  font-weight: bold;
  vertical-align: middle;
}

button {
  left: calc(70% - 120px);
  background-color: #fd8e07;
  width: 120px;
}

select:focus {
  outline: none;
}

select {
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #99570c;
}

.table-area {
  min-width: 250px;
  max-width: 1300px;
  width: 40%;
  margin: auto;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  min-width: 300px;
}

.table-container {
  padding: 20px 10px;
  color: black;
}

#table {
  box-shadow: 8px 10px 10px 2px rgba(0, 0, 0, 0.4);
  width: 250px;
}

.table-head {
  background-color: #fd8e07;
}

.left-th {
  border-top-left-radius: 15px;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.right-th {
  border-top-right-radius: 15px;
  text-align: center;
  padding: 15px 0;
}

tbody tr td {
  margin-bottom: 50px;
}

td {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 18px;
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid black;
}

.sum {
  background-color: white;
}

.sum td {
  color: black;
  text-align: right;
  padding-right: 18px;
  font-weight: bold;
}

#insert-value {
  padding-right: 15px;
}

.currency-rate {
  padding-top: 30px;
  padding-bottom: 0;
}

.padding-label {
  padding-left: 60px;
}

@media (max-width: 766px) {
  .padding-top {
    padding-bottom: 30px;
  }

  .padding-label {
    padding-left: 0;
  }
}
